.edit_box
  %h2
    .box_title
      %span.icon-stack.star{ _action: 'starMe this' }
        =hb 'if starred' do
          %i.icon-star.icon-large
          %i.icon-star-empty.icon-large
          =hb 'else'
          %i.icon-star-empty.icon-large
      =hb 'if id' do
        Edit record
        =hb 'id'
        =hb 'else'
        New Record
    .edit_bar_controls
      -permitted_to? :delete, :purchases do
        .big_delete_button.red{ _action: 'deleteRecord'}
          Delete Record
      .attachments
        %i.icon-paper-clip.icon-large
        Attachments
        =hb 'attachmentCount'

  .edit_box_content

    .top_info
      .vendor
        .param
          %label Vendor
          =hb 'view App.VendorTokenInput id="vendor_tokens" controller="purchase"'
        .param
          %label Tracking
          =hb 'input value=trackingNum class="lg_input"'
        .param
          %label Date Expected
          =hb 'view App.DateInput value=dateExpected'

      .request
        .param
          %label Date Requested
          =hb 'view App.DateInput value=dateRequested'
        .param
          %label Date Approved
          =hb 'view App.DateInput value=dateApproved'
        .param
          %label Date Purchased
          =hb 'view App.DateInput value=datePurchased'
        .param
          %label Date Required
          =hb 'view App.DateInput value=dateRequired'

      .requester
        .param
          %label Requester
          =hb 'view App.RequesterTokenInput id="purchase_requester_tokens" controller="purchase"'
        .param
          %label Department
          .fixed_field
            =hb 'requester.department'
        .param
          %label Phone
          .fixed_field
            =hb 'requester.phone'
        .param
          %label Recipient
          =hb 'view App.RecipientTokenInput id="purchase_recipient_tokens" controller="purchase"'

    .middle_info
      .line_items_container
        =hb 'render "line_items" lineItems'


        -#  =f.fields_for :line_items do |line|
        -#    =render 'line_item_fields', f: line
        -permitted_to? :create, :line_items do
          .hidden.new_line_item
        -#  .hidden.new_line_item{ 'data-new' => "#{render_new_line 'line_item_fields', f, :line_items}" }

      -permitted_to? :read, :receivings do
        .receiving_container
          .edit_title
            Receiving
          .receiving_header
            .receiving_created.field_header
              Date
            .receiving_created.field_header
              Items
          .receiving_docs
            -#=f.fields_for :receivings do |rec|
            -#  =render 'receiving_fields', f: rec
            -#.hidden.new_receiving_item{ 'data-new' => "#{render_new_line 'receiving_fields', f, :receivings}" }
          -permitted_to? :receive, :receivings do
            .receiving_button.blue
              Start Receiving
            .receive_all_button.green
              All!

    .bottom_info
      -permitted_to? :read, :notes do
        .note_container
          .edit_title
            Notes
          .note_header
            .note_field.field_header
              Note
            .note_date.note_big_gap.field_header
              Created
            .note_date.field_header
              Updated
            .note_date.field_header
              Last User
          .notes
            -#=f.fields_for :notes do |note|
            -#  =render 'note_fields', f: note
          -#-permitted_to? :create, :notes do
          -#  .hidden.new_note{ 'data-new' => "#{render_new_line 'note_fields', f, :notes}" }

      .account_container
        .edit_title
          Accounts
        -#.account{ 'data-user' => f.object.requester.try(:id), 'data-default' => f.object.account_id }
        -#  -if f.object.requester
        -#    =f.select :account_id, options_for_select(f.object.requester.account_list + ["New Account"], selected: f.object.account_id)
        -#    -permitted_to? :create, :accounts do
        -#      .new_account_fields.hidden
        -#        =text_field_tag :fund, '101000', placeholder: 'Fund', class: 'new_fund_field'
        -#        =text_field_tag :org, nil, placeholder: 'Org', class: 'new_org_field'
        -#        =text_field_tag :acct, nil, placeholder: 'Acct', class: 'new_acct_field'
        -#        =link_to "Save", "#", id: 'new_account_save'
        -#        =link_to "Cancel", "#", id: 'new_account_cancel'
        -#      .new_account_loading.hidden
        -#        Saving...
        .totals
          %dl
            =hb 'subTotal'
          -#  %dt Sub-total
          -#  %dd=number_to_currency purchase.sub_total
          %dl
          -#  %dt Tax
          -#  %dd="%#{purchase.tax}"
          %dl
          -#  %dt Labor
          -#  %dd=number_to_currency purchase.labor
          %dl
          -#  %dt Shipping
          -#  %dd=number_to_currency purchase.shipping
          %dl.total
            =hb 'grandTotal'
          -#  %dt= f.label :total, 'Total'
          -#  %dd=number_to_currency purchase.total

      .bottom_left
        .tags_container
          .tags_header
            Tags
          .tags
            -#=f.fields_for :purchase_to_tags do |tag|
            -#  =render 'tag_fields', f: tag
          -#-permitted_to? :update, :purchases do
          -#  .add_tag_list
          -#    =select 'purchase', 'tags', options_for_select(@tags), {include_blank: "Add a Tag:"}
          -#  .hidden.new_tag{ 'data-new' => "#{render_new_line 'tag_fields', f, :purchase_to_tags}" }

      .bottom_right
        -#=submit_tag "Cancel", class: " button bottom_button red", remote: true
        -#-permitted_to? :update, :purchases do
