!!!
%html
  %head
    %title
      Purchasing
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    =csrf_meta_tags
    =stylesheet_link_tag 'application', debug: false, media: "all"
    =javascript_include_tag 'application', debug: false

  %body
    =render 'generate_handlebars'

:javascript
  App.current_user = {
    id:          #{@me.id},
    username:   "#{@me.username}",
    name:       "#{@me.name}",
    email:      "#{@me.email}",
    roles:       #{@me.authorized_roles},
    photo_url:  "#{@me.photo_url}",

    is_buyer:    #{@me.buyer?}    || #{@me.manager?} || #{@me.admin?},
    is_receiver: #{@me.receiver?} || #{@me.admin?},
    is_manager:  #{@me.manager?}  || #{@me.admin?},
    is_admin:    #{@me.admin?}
  }
