
%header
  .col-xs-12
    .col-xs-10
      -if @is_pdf
        =wicked_pdf_image_tag 'biola.png'
      -else
        =image_tag 'biola.png'
      %span.h2 Purchase Requisition

    .col-xs-2.pull-right
      %dl.id
        %dt
          ID
        %dd
          =@purchase.id

      %dl.buyer
        %dt
          Buyer
        %dd
          =@purchase.buyer.try(:first_name)

  .col-xs-12

    %table.table.purchase_information
      %tr
        %td.col-xs-5
          -@purchase.vendors.each do |vendor|
            .inline-block
              %strong=vendor.name
              .link="#{vendor.website}"
              %div=vendor.address
              %div=vendor.city_state_zip
              %div="Ph: #{vendor.phone}" if vendor.phone?
              %div="Fx: #{vendor.fax}" if vendor.fax?

        %td.col-xs-3
          %dl
            %dt Request Date:
            %dd=@purchase.date_requested
          %dl
            %dt Date Required:
            %dd=@purchase.date_required

          %br

          %dl
            %dt Date Purchased:
            %dd=@purchase.date_purchased
          %dl
            %dt Date Expected:
            %dd=@purchase.date_expected
          %dl
            %dt Order #:
            %dd="#{@purchase.order_number} #{@purchase.order_confirmation}"

        %td.col-xs-4
          %dl
            %dt Requester
            %dd.strong=@purchase.requester.try(:name)
          %dl
            %dt Dept
            %dd=@purchase.requester.try(:department)
          %dl
            %dt Contact
            %dd
              %span.link=@purchase.requester.try(:email)
              =@purchase.requester.try(:phone)

          %br

          %dl
            %dt Deliver to
            %dd.strong=@purchase.recipient.try(:name)
          .pull-right
            =@purchase.recipient.try(:department)
