<!DOCTYPE html>
<html>
  <head>
    <title>QUnit Test Runner</title>
    <%= stylesheet_link_tag "qunit", debug: false %>
    <%= stylesheet_link_tag "test_helper", debug: false %>
    <%= javascript_include_tag "qunit", debug: false %>
    <%= javascript_include_tag "test_helper", debug: false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'application/generate_handlebars' %>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <div id='ember-app-root'></div>
  </body>
</html>
